@model MentorMe.Models.Answer


@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewData["Title"] = "CreateAnswer";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>New Answer</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateAnswer">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="row">
                    <div class="col-md-12">
                        <textarea asp-for="Content" placeholder="Content" rows="4" class="form-control"> </textarea>
                        <span asp-validation-for="Content" placeholder="Content" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-outline-danger" />

                </div>
            </form>
        </div>
    </div>



</body>
</html>